.footer-main{
    color: black;
    background-color: #222222;
    
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-icon{
    margin: 50px 170px;
}

.social-icon{
    padding: 50px 170px;
    
}

.social-icon i{
    background-color: #222222;
}

.footer-lower{
    text-align: center;
    font-size: 12px;
    color: white;
}

.footer-lower a{
    color: #EB5757;
}